
<div class="homepageContainer">
  <div class="header">
    <div class="headerContent left">
      <div class="image"></div>
      <div class="number">Znajomi: {{dictionary.friends}}</div>
    </div>
    <div class="headerContent right">
      <div class="number">Wynik: {{dictionary.score}}</div>
      <div class="image"> </div>
    </div>
    <div style="clear:both"></div>
  </div>



  <div class="content">
    <div class="left">
      <div class="money">Ilość Twoich pieniędzy: {{dictionary.money}}</div>
      <div class="image" (click)="increaseMoney()"></div>

      <!--<div class="randEvent" (click)="randomEvent()">get random event</div>-->
    </div>
    <div class="right">
      <div *ngFor="let activit of activities" class="activity">
        <div class="img" *ngIf="activit.price!==0" [ngStyle]="{'background-image':'url('+ activit.imageUrl1+')'}" (click)="touchActivity(activit);" (mousedown)="onMouseDown($event,activit)" (mouseup)="onMouseUp($event,activit)">
          <!--<div class="img" [ngStyle]="{'background-image':'url(https://i.imgur.com/XAF0OsJ.png)'}">-->
          <span class="price">{{activit.price}}$</span>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width':activit.stress*(-1)*25+'%'}">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="cross">
    <div class="outerCross"></div>
  </div>

  <span class="statusBottomSpan">Pasek stresu</span>
  <div class="statusBottomContainer">
    <div class="progress progressBottom">
      <div class="progress-bar progress-bar-striped stress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
  </div>
</div>
<div class="event" *ngIf="event!==undefined">
  <p class="title">{{event.title}}</p>
  <!--<div class="image" [ngStyle]="{'background-image':'url('+ +')'}"></div>-->
  <img class="image" src = {{event.imageUrl}}/>
  <span class="description">{{event.text}}</span>
  <div class="option" (click)="close(event, 1);">
    <span class="button" >1.</span>
    <span class="desc">{{event.choiceAText}}</span>
  </div>
  <div class="option" (click)="close(event, 2);" *ngIf="event.choiceBText!==null">
    <span class="button">2.</span>
    <span class="desc">{{event.choiceBText}}</span>
  </div>
</div>

Message Input
