.homepageContainer {
  min-height:100vh;
  //position:absolute;
  .header {
    padding:20px 15px;
    background-color:grey;
    .headerContent {
      display: flex;
      flex-wrap: wrap;
      .image {
        background-size: 130%;
        background-position: center;
        width: 50px;
        height: 50px;
      }
    }
    .left {
      .image {

        background-image: url('../../../../img/people.png');
      }
      float:left;
    }
    .right {
      float:right;
      .image {
        background-image: url('../../../../img/people.png');
      }
    }
  }
}
.statusBottomContainer {
  position:absolute;
  bottom:0px;
  width:100%;
  padding:20px 15px;
  background-color:grey;
  .progress {
    .progress-bar {
      background-color:rgb(200, 55, 0);
    }
  }
}
.event {
  top:0;
  position: absolute;
  z-index:999;
  background-color:red;
  width:500px;
  height:300px;
  display:none;
  .image {
    width:100px;
    height:100px;
  }
}
.content {
  height:calc(100vh - 100px);
  background-color:green;
  display:flex;
    .left {
      background-color:burlywood;
      width:40%;
      min-width:400px;
    }
    .right {
      background-color:rose;
    }


}
@media only screen and (max-width:1016px) {
  .content {
    flex-wrap:nowrap;
    .left, .right {
      width:100%;
      display:block;
      clear:both;
    }
  }
}
